body {
    box-sizing: border-box;
}

.activity-list {
    width: 320px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F9FF;
    border: 1px solid #F5F9FF;
    border-radius: 6px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.activity:hover {
    border: 1px solid #2D7FFB;
}

.activity:hover .activity-button-delete {
    visibility: visible;
}

.activity-button-delete {
    visibility: hidden;
    margin: 0;
}
