.activity-list {
    width: 320px;
    margin: 0 auto;
    padding: 0;
}
.activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background: #F5F9FF;
    border-radius: 6px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.activity-button-delete {
    margin: 0;
}